<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-header">Shops:</h1>

      <div class="table-responsive">
        <table class="shop-table table table-striped">
          <thead>
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>In Stock?</th>
            <th>&nbsp;</th>
          </tr>
          </thead>
          <thead>
          <tr ng-repeat="shop in shops" ng-class="{selected: shop == selShop}">
            <td><a ng-href="{{shop.link}}">{{shop.name}}</a></td>
            <td>{{shop.address}}</td>
            <td>{{shop.stock ? "yes" : "no"}}</td>
            <td><a ng-if="isAdmin()" ng-click="deleteShop(shop)" class="trash"><span
              class="fa fa-trash pull-right"></span></a></td>
          </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>
