<div class="navbar navbar-default navbar-fixed-top" ng-controller="NavbarCtrl" navbar-collapse>
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">JayMap</a>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
            <a ng-href="{{item.link}}">{{item.title}}</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <i ng-class="flagClass"></i>
            <span>{{ langDisplayText }}</span>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li data-ng-repeat="lang in supportedLang">
              <a href="" ng-click="setLocale(lang)">
                <i ng-class="localeData[lang].flagClass"></i>
                <span>{{ localeData[lang].langDisplayText }}</span>
              </a>
            </li>
          </ul>
        </li>
        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}"><a href="/signup" i18n="common.signup"></a></li>
        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}"><a href="/login"  i18n="common.login"></a></li>
        <li ng-show="isAdmin()" ng-class="{active: isActive('/admin')}"><a href="/admin">Admin</a></li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/settings')}"><a href="/settings"><span class="fa fa-cog"></span></a></li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()"  i18n="common.logout"></a></li>
      </ul>
    </div>
  </div>
</div>
