<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="page-header">{{ 'ADD_NEW_SHOP' | translate }}:</h1>
    </div>
  </div>

  <div class="row" ng-show="submittedSuccess || submittedNoLocation || submittedError">
    <div class="col-sm-12">
      <div class="alert alert-success" role="alert" ng-show="submittedSuccess"><strong>{{ 'SUCCESS' | translate }}</strong> {{ 'SHOP_ADDED_TO_DATABASE' | translate }} {{ 'THANK_YOU' | translate }}</div>
      <div class="alert alert-danger" role="alert" ng-show="submittedNoLocation"><strong>{{ 'ERROR' | translate }}</strong> {{ 'ADDRESS_NOT_FOUND' | translate }}</div>
      <div class="alert alert-danger" role="alert" ng-show="submittedError"><strong>{{ 'ERROR' | translate }}</strong> {{ 'UNKNOWN_ERROR' | translate }}</div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <form class="form" name="form" ng-submit="addShop(form)" novalidate>

        <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                            'has-error': form.name.$invalid && submitted && !submittedSuccess }">
          <label>{{ 'NAME' | translate }}</label>

          <input type="text" name="name" class="form-control" ng-model="newShop.name"
                 required/>
          <p class="help-block" ng-show="form.name.$error.required && submitted && !submittedSuccess">
            {{ 'NAME_REQUIRED' | translate }}
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.address.$valid && submitted && submittedSuccess && !submittedNoLocation,
                                            'has-error': form.address.$invalid && submitted && !submittedSuccess || submittedNoLocation }">
          <label>{{ 'ADDRESS' | translate }}</label>

          <input type="address" name="address" class="form-control" ng-model="newShop.address"
                 required
                 mongoose-error/>
          <p class="help-block" ng-show="form.address.$error.address && submitted && !submittedSuccess || submittedNoLocation">
            {{ 'UNKNOWN_ADDRESS' | translate }}
          </p>
          <p class="help-block" ng-show="form.address.$error.required && submitted && !submittedSuccess">
            {{ 'ADDRESS_REQUIRED' | translate }}
          </p>
          <p class="help-block" ng-show="form.address.$error.mongoose">
            {{ errors.address }}
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.description.$valid && submitted && submittedSuccess && !submittedNoLocation,
                                            'has-error': form.description.$invalid && submitted && !submittedSuccess || submittedNoLocation }">
          <label>{{ 'DESCRIPTION' | translate }} <small>({{ 'OPTIONAL' | translate }})</small></label>

          <textarea name="description" class="form-control" rows="5" ng-model="newShop.description"
          mongoose-error>
          </textarea>
          <p class="help-block" ng-show="form.description.$error.mongoose">
            {{ errors.description }}
          </p>
        </div>

        <div class="btn-group btn-group-justified shop-stock">
          <label class="btn btn-primary" ng-model="newShop.stock" btn-radio="2" >{{ 'IN_STOCK' | translate }}</label>
          <label class="btn btn-warning" ng-model="newShop.stock" btn-radio="1" >{{ 'UNCLEAR' | translate }}</label>
          <label class="btn btn-danger" ng-model="newShop.stock" btn-radio="0" >{{ 'OUT_STOCK' | translate }}</label>
        </div>

        <div>
          <button class="btn btn-default btn-lg" type="button" ng-click="showOnMap()">
            1. {{ 'SHOW_ON_MAP' | translate }}
          </button>
          <button class="btn btn-primary btn-lg" type="submit" ng-disabled="!newShop.latitude">
            2. {{ 'SUBMIT' | translate }}
          </button>
        </div>

      </form>
    </div>

    <div class="col-sm-6">
      <ui-gmap-google-map
          center="map.center"
          zoom="map.zoom"
          pan="map.pan"
          options="map.options" >
        <ui-gmap-marker coords="newShop" idkey="1" icon="'assets/images/norev/logo-green.png'">
        </ui-gmap-marker>
      </ui-gmap-google-map>
    </div>
  </div>
</div>
