<div class="shop-container container">
  <div class="row">
    <div class="col-sm-12">
      <a class="shop-img thumbnail" ng-show="shop.image" ng-href="{{shop.image}}"><img
        ng-src="{{shop.image}}" alt="{{shop.name}}"/></a>

      <h1 class="page-header">{{shop.name}}</h1>

      <p class="shop-address">{{shop.address}}</p>

      <p class="shop-link" ng-show="shop.link">{{ 'WEBSITE' | translate }}: <a ng-href="{{shop.link | checkUrl}}">{{shop.link}}</a>
      </p>

      <p class="shop.description" ng-show="shop.description">{{shop.description}}</p>

      <div class="form-group btn-group btn-group-justified shop-stock">
        <label class="btn btn-primary" ng-model="shop.stock" btn-radio="2" ng-disabled="!isLoggedIn()" ng-change="updateStock()">{{ 'IN_STOCK' | translate }}</label>
        <label class="btn btn-warning" ng-model="shop.stock" btn-radio="1" ng-disabled="!isLoggedIn()" ng-change="updateStock()">{{ 'SCARCE' | translate }}</label>
        <label class="btn btn-danger" ng-model="shop.stock" btn-radio="0" ng-disabled="!isLoggedIn()" ng-change="updateStock()">{{ 'OUT_STOCK' | translate }}</label>
      </div>

      <p class="small text-right">{{ 'LAST_UPDATED' | translate }} {{ shop.updatedAt | date:'yyyy-MM-dd HH:mm:ss Z' }}</p>

      <p ng-if="isAdmin()" class="text-right"><a href="/shops/{{shop._id}}/edit">{{ 'EDIT_SHOP' | translate:{ shopname: shop.name } }}</a> | <a ng-click="deleteShop(shop)" href="/" class="trash">{{ 'DELETE_SHOP' | translate:{ shopname: shop.name } }}</a></p>
    </div>
  </div>
</div>

<ui-gmap-google-map
  center="map.center"
  zoom="map.zoom"
  pan="map.pan"
  options="map.options">
  <ui-gmap-marker coords="shop" idkey="1" icon="'assets/images/norev/logo-green.png'">
  </ui-gmap-marker>
</ui-gmap-google-map>
